h1 {
				color: #FF4500
			}

			body {
				background: #000080;
			}

            p {
                background-color: rgb(199, 199, 255);
                color:#FF4500;
                border: solid 10px;
                padding: 4vw;  
            }

            #theSpecial {
                color: orange;
                padding: 100px;
            }

            .theDescription {
                background-color: green;
                margin: 250px;
            }

            button {
                background-color:pink;
                padding: 10px;
                border-radius:100%;
            }
            button:hover{
                background-color:aqua; 
            }
            a {
                text-decoration: none; 
            }