  body, html {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
  #bottom-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('https://static1.squarespace.com/static/57cf18ae6b8f5ba693497e1a/57cf1c805016e1baecb106a7/61d1fe09e4273d7c8752b250/1641403094553/Jan6_lead_2.gif?format=1500w') center/cover no-repeat;
        z-index: 0;
    }

  #top-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('https://www.researchgate.net/publication/350801282/figure/fig2/AS:1011466203320320@1618163743395/chan-Politically-Incorrect-thread-screenshot.jpg') center/cover no-repeat;
        opacity: 1;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

 #top-text {
        position: absolute;
        z-index: 2;               
        top: 50%;                 
        left: 50%;                
        transform: translate(-50%, -50%);
        color: rgb(255, 0, 187);
        font-size: 3rem;
        text-align: center;
        
          text-shadow:-1px -1px 0 #ffffff, 
  1px -1px 0 #ffffff, 
  -1px 1px 0 #ffffff, 
  1px 1px 0 #ffffff; 

        font-family: Dancing Script;
        pointer-events: none;         
    }