
/* 
a {
    text-decoration: none; 
} 
*/
* {
  box-sizing: border-box;
  margin: 0;
}
 body {
    display: flex; 
 }
img {
  max-width: 40%;
  display: block;
  width: 40%;
}

.parent {
  position: relative;
  top: 20%;
  left: 42%;
}
.parent .box {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
        justify-content: center;
  -webkit-box-align: center;
        align-items: center;
}
.parent .box.eyes button{
    border: none;
    background-color: red;
    width: 300px;
    height: 35px;
  top: 4%;
  left: 15%;
  font-family: 'BBH Sans Hegarty', serif;
  font-size: 25px;
  transform: rotate(-30deg);
}
.parent .box.eyes button:hover {
  transform: rotate(150deg);
}
.div1 {
    white-space: nowrap;
    display: block;
}
