
.typing-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;        
  font-family: monospace;
  text-align: center;
}

.line1, .line2 {
  white-space: nowrap;
  border-right: 2px solid black;
  padding-right: 6px;
  min-width: 1ch; 
  animation: cursorBlink .6s infinite;
}

.line1 {
  font-size: 60px;
}

.line2 {
  font-size: 18px;       
  margin-top: 10px;
}

@keyframes cursorBlink {
  50% { border-color: transparent; }
}

.letter {
  display: inline-block;
  min-width: 1ch;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.toolong {
    min-width: 300px;
    max-width: none;
}

.toolong2 {
    min-width: 200px;
    max-width: none;
}
.toolong3 { 
    min-width: 250px;
    max-width: none;
}
#book {
            width: 400px;
            height: 1000px;
            margin: 50px auto;
            border: 2px solid #333;
            background: white;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

#book img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }



 #flipbook {
        width: 320px;
        height: 780px;
        perspective: 1500px;
        position: relative;
    }

    .page {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-origin: left center;
        transition: transform 0.8s ease;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        background-size: cover;
        background-position: center;
        backface-visibility: hidden;
    }

    .flipped {
        transform: rotateY(-180deg);
    }

   
    .hotspot-btn {
        position: absolute;
        padding: 3px 8px;
        background: transparent;
        color: transparent;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
        border: transparent;
        text-align: center;
        white-space: nowrap;
        user-select: none;
    }

    .hotspot-btn:hover {
        background: rgb(255, 255, 255);
        transform: scale(1.08);
        color: blue; 
        border: 2px solid blue;
    }

    #controls {
        position: absolute;
        bottom: 20px;
        display: flex;
        gap: 10px;
    }

    .nextback {
        padding: 8px 14px;
        margin-left: 70px ;
        margin-right: 70px;
        background: #333;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .nextback:hover {
        background: #555;
    }
            #back {
                position: absolute;
                top: 20px;
                left: 15px;
            }

            #back:hover {
                background-color: yellow;
            }
    

.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

.clearclick {
    color: transparent;
    border-color: transparent;
    background-color: transparent;
}

.clearclick:hover {
    color: purple;
    background-color: rgb(255, 255, 255);
}

/* books page */
/* On Writing */
.hotspot1 {
    position: absolute;
    top: 35%;     
    left: 44%;    
    transform: translate(-50%, -50%);
}

/*  C and P */
.hotspot2 {
    position: absolute;
    top: 39%;     
    left: 51%;    
    transform: translate(-50%, -50%);
}

/* Jesus Son*/
.hotspot3 {
    position: absolute;
    top: 42%;     
    left: 45%;    
    transform: translate(-50%, -50%);
}

/* Sigrid Nunez */
.hotspot4 {
    position: absolute;
    top: 45%;     
    left: 52%;    
    transform: translate(-50%, -50%);
}

/* Good Material*/
.hotspot5 {
    position: absolute;
    top: 49%;     
    left: 46%;    
    transform: translate(-50%, -50%);
}

/* Infinite */
.hotspot6 {
    position: absolute;
    top: 53%;     
    left: 46%;    
    transform: translate(-50%, -50%);
}
/* Troubling Love */
.hotspot7 {
    position: absolute;
    top: 56%;     
    left: 50%;    
    transform: translate(-50%, -50%);
}
/* Pizza Girl*/
.hotspot8 {
    position: absolute;
    top: 60%;     
    left: 50%;    
    transform: translate(-50%, -50%);
}
/* Didion */
.hotspot9 {
    position: absolute;
    top: 62%;     
    left: 50%;    
    transform: translate(-50%, -50%);
}

/* Morrie */
.hotspot10 {
    position: absolute;
    top: 65%;     
    left: 50%;    
    transform: translate(-50%, -50%);
}

/*end*/
.hotspot11 {
    position: absolute;
    top: 69%;     
    left: 54%;    
    transform: translate(-50%, -50%);
}

/*goodreads*/ 
.hotspot12 {
    position: absolute;
    top: 95%;     
    left: 63%;    
    transform: translate(-50%, -50%);
}
/*wwf*/
.hotspot13 {
    position: absolute;
    top: 85%;     
    left: 93%;    
    transform: translate(-50%, -50%);
}

/*scrabble*/
.hotspot14 {
    position: absolute;
    top: 10%;     
    left: 42%;    
    transform: translate(-50%, -50%);
}