/* body {
    background-color: rgb(159, 175, 197);
    /* what font on the google font api best matches rand's design?
    how can you find it? 
}

main{
    display: flex;    
}

div {
    display: flex;
    padding: 3vw;
    margin: 3vw;
    font-size: 20vw;
    justify-content: center;
    flex-direction: column;


}
#theBackward{
    
    transform: rotate(90deg);
    color: rgb(255,255,255);
}



p {
}
*/
body{
  margin: 0;
  background: #9fb0c6;
  font-family: 'Arial Bold', sans-serif;
}

.poster{
  position: relative;
  height: 100vh;
}

.b {
  position: absolute;
  font-size: 20vw;
  font-weight: 500;
  color: white;
  transform: scaleX(2) rotate(90deg);
}

.b:nth-child(1) { top: 3vh;  right: 40vw; }
.b:nth-child(2) { top: 23vh; right: 55vw; }
.b:nth-child(3) { top: 45vh; right: 35vw; }
.b:nth-child(4) { top: 63vh; right: 55vw; }

.fg {
  position: absolute;
  font-size: 20vw;
  font-weight: 500;
  transform: scaleY(2);
  color: black;
}

.fg:nth-child(5) { top: 27vh;  left: 23vw; }
.fg:nth-child(6) { top: 67vh; left: 33vw; }
.fg:nth-child(7) { top: 24vh;  left: 35vw; }
.fg:nth-child(8) { top: 57vh; left: 55vw; }